{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning-Horovod',
  'github_issues': 'https://github.com/Lightning-AI/lightning-Horovod/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/Lightning-AI/lightning/blob/master/governance.md',
  'docs': 'https://lightning-Horovod.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://lightning-Horovod.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://lightning-Horovod.rtfd.io/en/latest/',
  'home': 'https://lightning-Horovod.rtfd.io/en/latest/',
  'get_started': 'https://lightning-Horovod.readthedocs.io/en/latest/introduction_guide.html',
  'features': 'https://lightning-Horovod.rtfd.io/en/latest/',
  'blog': 'https://www.Lightning-AI.ai/blog',
  'resources': 'https://lightning-Horovod.readthedocs.io/en/latest/#community-examples',
  'support': 'https://lightning-Horovod.rtfd.io/en/latest/',
}
-%}
